html,body,ul,li,a,p,h1,h2,h3,h4,h5,h6,img,span,i,input,label,button{
  padding: 0;
  margin: 0;
}
a{text-decoration: none;}
ul{list-style: none;}

$headerColor:#b0b0b0;
$headerHeight:40px;
$headerLineHeight:$headerHeight;
$headerPaddingLeft:146px;
$headerPaddingRight:146px;
$headerBgc:#333;
$headerHoverColor:#fff;

$navColor:#333;
$navCategoryListColor:  $headerHoverColor;

$navSubColor:$headerHoverColor;
$navSubColorOpacity:.7;

$navSubHoveredOpacity:1;
$navSubHoveredTime:.2s;


$ThemeColor:#ff6700;


html,body{
  width: 100%;
  height: 100%;
  //overflow-x: hidden;
  font-size: 12px;
}
body{

}
header{
  display: flex;
  width: 100%;
  height: $headerHeight;
  line-height: $headerLineHeight;
  margin-bottom: 14px;
  background-color: $headerBgc;
  color:$headerColor;
}
a{
  color:$headerColor;
}
header .header-wrap{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  box-sizing: content-box;
  width: 100%;
  padding-left:$headerPaddingLeft ;
  padding-right:$headerPaddingLeft;
}
header li{
  display: inline-block;
  margin-right: 8px;
}
header .header-wrap a:hover{
  color:$headerHoverColor;
}

//==================== header ====================

//==================== section1 ====================

$sectionHeaderHeight:100px;

//padding: 26px 10px 38px;
$Section1Color:#333;


.wrapper{
  width: auto;
  padding-left: $headerPaddingLeft;
  padding-right: $headerPaddingLeft;
}

.section1{
  display: flex;
  height: $sectionHeaderHeight;
  width: inherit;
  align-items: center;
  justify-content: space-between;
}
.section1 .logo img{
  width: 55px;
  height: 55px;
}

//.section1 > div{
//  display: inline-block;
//}
.section1 .section1-nav1 .detail-list > li{
  float: left;
  padding: 20px 10px;
  font-size: 16px;
  color:#333;
  transition: .2s all;
}
.section1 .section1-nav1 .detail-list > li:hover{
  cursor:pointer;
  color:$ThemeColor;
}
.section1 .section1-search{
  display: flex;
  align-items: center;
}
.section1 .section1-search > input{

  outline: none;
  width: 223px;
  height: 48px;
  line-height: 48px;
  padding: 0 10px;

  border: 1px solid #e0e0e0;
  transition: .2s all;

}
.section1 .section1-search > input:hover{

  border-color: $ThemeColor;
}
.section1 .section1-search > i.iconfont{
  //display: ;
  height: 48px;
  width: 50px;
  line-height: 50px;
  font-size: 22px;
  border: 1px solid #e0e0e0;
  border-left: 0;
  color: #616161;
  background-color: #fff;
  transition: .2s all;
}
.section1 .section1-search > i.iconfont:before{
  padding: 13px;
}
.section1 .section1-search > i.iconfont:hover{
  background-color: $ThemeColor;
  color:white;
}