.section4{
  display: flex;
  height: 614px;
  width: 100%;
  .phone-banner{
    transform: translate3d(0,0,0);
    transition: .1s linear transform;
    img{
      width: 234px;
      height: 614px;
    }
  }
  ul{
    display: flex;
    flex-wrap: wrap;
    li{
      height: 260px;
      margin: 0 0 14px 14px;
      padding: 20px 0;
      text-align: center;
      background-color: #fff;
      transition: .2s linear all;
      box-shadow: 0 1px 1px rgba(0,0,0,0);
      .title{
        margin:0 10px 2px;
        font-size: 14px;
        font-weight: 400;
      }
      p.desc{
        margin: 0 10px 10px;
        color: #b0b0b0;
        font-size: 12px;
      }
      img{
        height: 160px;
        width: 160px;
        margin: 0 37px 18px;
      }
    }
    li:hover{
      transform: translate3d(0,-2px,0);
      box-shadow: 0 15px 30px rgba(0,0,0,.1);

    }
  }
  .phone-banner:hover{
    transform: translate3d(0,-5px,0);
  }
}